.img-zoom {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.img-zoom:hover {
  transform: scale(1.1);
}

/*image hover effect*/
.hide {
  display: none !important;
}

.circles {
  border-radius: 50%;
}

/*
///////////////////////////////RESET\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*
//////////////////////TYPOGRAPHY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
p {
  padding-bottom: 1rem;
  font-size: 1.2rem;
  color: #2c2e35;
}

a {
  text-decoration: none;
  transition: 300ms;
}

a:hover {
  color: #ff301a;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

/*gradient text*/
.gradient-text {
  background-image: linear-gradient(90deg, red, yellow);
  background-clip: text;
  color: transparent;
}

/*
//////////////////////////////BODY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: white;
  color: #2c2e35;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 auto;
}

/*
///////////////////////////CONTAINER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.container {
  padding: 0;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

@media (max-width: 400px) {
  .container {
    width: 100%;
    padding: 0;
  }
}
.inner-container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2rem;
}

/*
///////////////////////////HEADER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
/*
///////////////////////////NAVIGATION\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.menu,
.sub-menu {
  list-style-type: none;
}

/* Desktop menu and logo*/
.menu-container {
  display: flex;
  justify-content: space-between;
}

.menu-container > * {
  align-self: center;
  flex-grow: 1;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.menu-item {
  position: relative;
}

.menu-item:hover .sub-menu {
  display: block;
}

.sub-menu a:hover {
  color: white;
}

.menu li a {
  display: block;
  padding: 0 5px;
  color: #2c2e35;
  font-weight: bold;
  text-decoration: none;
}
.menu li a:hover {
  color: #ff9029;
}

.sub-menu {
  height: auto;
  overflow: hidden;
  background: #ff9029;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  border-radius: 3px;
  white-space: nowrap;
  border-left: 2px solid #f57600;
}
.sub-menu li {
  transition: all 0.2s ease;
}
.sub-menu li a {
  font-size: 0.875rem;
  font-weight: normal;
  letter-spacing: 1px;
  color: white;
  font-weight: 600;
  padding: 0.5rem 1rem;
  transition: all 0.2 ease;
}
.sub-menu li a:hover {
  color: #2c2e35;
}
.sub-menu li:hover {
  background-color: #f57600;
}

.toggle-btn-container {
  display: none;
}

.sub-menu-container {
  height: 0;
  overflow: hidden;
  background-color: #2c2e35;
  transition: all 0.5s ease;
}

.mobile-menu-container {
  height: 0;
  overflow: hidden;
  transition: all 0.5s linear;
}

.mobile-sub-menu {
  margin-left: 0;
  font-size: 1rem;
}

@media (max-width: 1100px) {
  .mobile-menu {
    background-color: #ff9029;
  }
  .mobile-menu li.menu-item-has-children {
    font-size: 1rem;
    position: relative;
  }
  .mobile-menu li.menu-item-has-children li a {
    font-size: 0.875rem;
  }
  .mobile-menu li.menu-item-has-children a:first-of-type {
    display: block;
    padding: 0.5rem 1rem;
    margin-right: 42px;
  }
  .mobile-menu li.menu-item-has-children a:first-of-type:hover {
    background-color: #f57600;
  }
  .mobile-menu li.menu-item-has-children .open {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    padding: 5px;
    background-color: #f57600;
    cursor: pointer;
  }
  .mobile-menu li li:hover {
    background-color: #f57600;
  }
  .mobile-menu li a {
    color: white;
  }

  .toggle-btn-container {
    display: block;
  }

  .nav-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #ff9029;
    transition: all 0.3s linear;
    width: 50px;
  }

  .menu {
    display: none;
  }

  .menu {
    flex-direction: column;
  }

  .sub-menu {
    display: block;
  }
}
/*
///////////////////////////FOOTER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
footer {
  background-color: #ffcd05;
}

.footer-content {
  background-color: #ffcd05;
  min-height: 100px;
  margin-top: -2px;
}

/*//////////BACKGROUND DECORATIVE IMAGES\\\\\\\\\\\\\\*/
.home .ribbon {
  position: absolute;
  top: 0;
  left: -2%;
  width: 110%;
  z-index: -10;
}
.home .wave {
  position: absolute;
  bottom: 0;
  left: -2%;
  width: 110%;
  z-index: -10;
}

/*////////////////HOME PAGE (called About in the site)\\\\\\\\\\\\\\\*/
.home {
  /*circle images*/
}
.home .grid-container {
  display: grid;
  grid-template-columns: 2fr 1.25fr 1fr;
  grid-template-rows: 1fr auto;
}
.home .strapline {
  grid-column: span 2/-1;
  width: 70%;
  justify-self: end;
  z-index: -1;
}
.home .circle-01 {
  margin-left: -7%;
  align-self: end;
}
.home .circle-02 {
  margin-left: -30%;
  align-self: end;
  z-index: 10;
}
.home .icons {
  display: flex;
  flex-direction: column;
  align-self: end;
  align-items: center;
  z-index: 10;
  justify-content: space-between;
}
.home .icons-item {
  padding: 10px 0;
}
.home .fa-facebook {
  color: #4372b8;
}
.home .fa-instagram {
  color: #da1b52;
}
.home .fa-twitter {
  color: #5ea9dd;
}

/*smaller screen to one column*/
@media (max-width: 800px) {
  .home .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
  }
  .home .strapline {
    grid-column: span 1;
    width: 70%;
    justify-self: center;
    padding-bottom: 1rem;
  }
  .home .circle-01 {
    margin-left: 0;
    align-self: center;
  }
  .home .circle-02 {
    margin-left: 0;
    align-self: center;
  }
  .home .icons {
    flex-direction: row;
    z-index: 10;
    justify-content: space-evenly;
  }
}
/*///////////////////Buttons\\\\\\\\\\\\\\\\\\\\\*/
/*icons*/
button {
  border: none;
  padding: 0.5rem 1.15rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s linear;
}
button a {
  color: white;
}
button:hover {
  -webkit-box-shadow: 5px 5px 0px -2px #ffffff;
  box-shadow: 5px 5px 0px -2px #ffffff;
}
button:hover .fa-arrow-right {
  transform: translateX(15px);
}

/*# sourceMappingURL=style.css.map */
