.img-zoom {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.img-zoom:hover {
  transform: scale(1.1);
}

.hide {
  display: none !important;
}

/*padding & margin*/
.pt3 {
  padding-top: 3rem !important;
}

/*
///////////////////////////////RESET\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*
//////////////////////TYPOGRAPHY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
@font-face {
  font-family: "Dinot";
  src: url("../fonts/DINOT.woff2") format("woff2"), url("../fonts/Dinot.woff") format("woff");
}
@font-face {
  font-family: "Dinot-Bold";
  src: url("../fonts/Dinot-Bold.woff") format("woff2"), url("../fonts/Dinot-Bold.woff") format("woff");
}
p {
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
  transition: 300ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

/*
//////////////////////////////BODY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Dinot", Fallback, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 auto;
  background-color: #0f2b4d;
}

/*
///////////////////////////CONTAINER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.container {
  max-width: 80rem;
  padding: 0;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 400px) {
  .container {
    width: 100%;
    padding: 0;
  }
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.inner-container {
  margin: 0 auto;
  padding: 0 2rem;
}

.footer-container {
  height: 100px;
}

.footer-inner-container {
  min-height: 100px;
  margin-top: -2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.875rem;
}
@media (max-width: 800px) {
  .footer-inner-container .social {
    display: block;
    padding-left: 0;
    font-size: 1.25rem;
  }
}

/*
///////////////////////////HEADER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.header-container a {
  display: contents;
}

.header-container img {
  max-width: 170px;
}

.header-rule {
  border-bottom: 1px solid white;
}

/*
///////////////////////////NAVIGATION\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.menu,
.sub-menu {
  list-style-type: none;
}

.menu-container > * {
  align-self: center;
  flex-grow: 1;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.logo-gif {
  margin-top: -1.2rem;
}

@media (min-width: 900px) {
  .menu-item:not(:last-of-type) {
    position: relative;
    padding-right: 2.5rem;
  }

  .menu .current_page_item > a {
    color: white;
    outline: 2px solid #cc8f9f;
    border-radius: 15px;
  }

  .menu .current-menu-ancestor .current_page_item > a {
    color: #212121;
  }
}
.menu-item:hover .sub-menu {
  display: block;
}

.sub-menu a:hover {
  color: white;
}

.menu li a {
  display: block;
  padding: 5px 10px;
  line-height: 1;
  border-radius: 15px;
  color: white;
  text-decoration: none;
}
.menu li a:hover {
  color: white;
  outline: 2px solid #cc8f9f;
  border-radius: 15px;
}

.menu li:last-of-type a:hover {
  color: #cc8f9f;
  outline: none;
  border-radius: 15px;
}

.toggle-btn-container {
  display: none;
}

.sub-menu-container {
  height: 0;
  overflow: hidden;
  background-color: #212121;
  transition: all 0.5s ease;
}

.mobile-menu-container {
  height: 0px;
  overflow: hidden;
  transition: all 0.5s linear;
  background-color: #404b68;
}

.mobile-sub-menu {
  margin-left: 0;
  font-size: 1rem;
}

@media (max-width: 900px) {
  .current-menu-item li a {
    color: #cc8f9f;
  }

  .mobile-menu {
    background-color: #404b68;
    padding-left: 2rem;
  }
  .mobile-menu li {
    padding: 0.25rem 0;
  }
  .mobile-menu li a {
    color: white;
    width: 100%;
    display: inline-block;
  }
  .mobile-menu li a:hover {
    color: #cc8f9f;
  }
  .mobile-menu li.current-menu-item a {
    color: #cc8f9f;
  }

  .toggle-btn-container {
    display: block;
  }

  .nav-toggle {
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    background-color: #cc8f9f;
    transition: all 0.3s linear;
    width: 50px;
  }
  .nav-toggle:hover {
    background-color: #404b68;
  }

  .menu {
    display: none;
  }

  .menu {
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .nav-toggle {
    top: 0;
    right: 0;
  }
}
/*
///////////////////////////FOOTER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
/*////////////////HOME PAGE \\\\\\\\\\\\\\\*/
.intro p {
  font-size: 1.375rem;
}
@media (max-width: 800px) {
  .intro p {
    font-size: 1rem;
  }
}

/*opening paragraph and quote*/
.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 600px) {
  .intro {
    grid-template-columns: 1fr;
  }
}
.intro p {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
  border-radius: 5px;
  height: fit-content;
}
@media (max-width: 500px) {
  .intro p {
    padding: 0;
  }
}
.intro img {
  max-width: 80%;
  justify-self: end;
}
@media (max-width: 800px) {
  .intro img {
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .intro img {
    max-width: 80%;
    justify-self: center;
    padding: 1rem 0;
  }
}

.circles {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.circle-2 {
  margin-left: -10%;
  max-width: 60%;
  align-self: end;
}
@media (max-width: 600px) {
  .circle-2 {
    max-width: 100%;
    align-self: center;
  }
}

.main-text {
  padding-top: 2rem;
}

/*////////////////ABOUT PAGE \\\\\\\\\\\\\\\*/
.page-about .intro p {
  font-size: 1.125rem;
}
@media (max-width: 800px) {
  .page-about .intro p {
    font-size: 1rem;
  }
}

.text-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 600px) {
  .text-img {
    grid-template-columns: 1fr;
  }
}
.text-img div + div {
  max-width: 70%;
  justify-self: end;
  align-self: start;
}
@media (max-width: 1100px) {
  .text-img div + div {
    max-width: 90%;
  }
}
@media (max-width: 600px) {
  .text-img div + div {
    justify-self: center;
  }
}

/*///////////////////Buttons\\\\\\\\\\\\\\\\\\\\\*/
button {
  border: none;
  padding: 0.5rem 1.15rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s linear;
}

/*# sourceMappingURL=style.css.map */
