.hide {
    display: none !important;
}
.show {
    display: block;
}
/*padding & margin*/

.pt3 {
    padding-top: 3rem !important;
}
.pb1 {
    padding-bottom: 1rem;
}
.pb2 {
    padding-bottom: 2rem;
}
section {
    padding: 2rem;
}
