//utility colors
$clr-white: hsl(0, 0%, 100%);
$clr-gray: hsl(0, 0%, 54%);
$clr-black: hsl(0, 0%, 0%);
$clr-dark: hsl(0, 0%, 13%);
$clr-white-transparent: hsla(360, 100%, 100%, 0.3);
$clr-black-transparent: hsla(0, 0%, 0%, 0.18);

//branding colors

//branding color variants

//fonts
$font-stack: "Poppins", sans-serif;
$font-handwritten: "Caveat", cursive;
$font-headings: "Poppins", sans-serif;
$font-size-base: 1rem;

//font-sizes
$fs-14: 0.875rem;
$fs-16: 1rem;
$fs-18: 1.125rem;
$fs-20: 1.25rem;
$fs-22: 1.375rem;
$fs-24: 1.5rem;
$fs-30: 1.875rem;
$fs-32: 2rem;
$fs-36: 2.25rem;
$fs-48: 3rem;
$fs-60: 3.75rem;
$fs-85: 5.313rem;

//break points

@mixin below($size) {
    @media (max-width: $size) {
        @content;
    }
}
@mixin above($size) {
    @media (min-width: $size) {
        @content;
    }
}
$br-small: 400px;
$br-medium: 800px;

//transitions
$transition: all 0.3s linear;
