//utility colors
$clr-white: hsl(0, 0%, 100%);
$clr-gray: hsl(0, 0%, 54%);
$clr-black: hsl(0, 0%, 0%);
$clr-dark: hsl(0, 0%, 13%);

//branding colors
$clr-red: hsl(6, 100%, 55%);
$clr-dark: hsl(227, 9%, 19%);
$clr-yellow: hsl(48, 100%, 51%);
$clr-orange: hsl(29, 100%, 58%);

//branding colors hover & other variants
$clr-orange-dark: hsl(29, 100%, 48%);
$clr-orange-darker: hsl(29, 100%, 28%);

//fonts
$font-stack: "Open Sans", sans-serif;
$font-headings: "Open Sans", sans-serif;
$font-size-base: 1rem;

//font-sizes
$fs-14: 0.875rem;
$fs-16: 1rem;
$fs-18: 1.125rem;
$fs-20: 1.25rem;
$fs-22: 1.375rem;
$fs-24: 1.5rem;
$fs-30: 1.875rem;
$fs-36: 2.25rem;
$fs-60: 3.75rem;
$fs-85: 5.313rem;

//break points

@mixin below($size) {
    @media (max-width: $size) {
        @content;
    }
}
@mixin above($size) {
    @media (min-width: $size) {
        @content;
    }
}
$br-small: 400px;
$br-medium: 800px;

//transitions
$transition: all 0.3s linear;
