//utility colors
$white: hsl(0, 0%, 100%);
$gray: hsl(0, 0%, 54%);
$black: hsl(0, 0%, 0%);

//branding colors
$logo-red: hsl(6, 100%, 55%);
$black: hsl(227, 9%, 19%);
$yellow: hsl(48, 100%, 51%);
$orange: hsl(29, 100%, 58%);

//branding colors hover & other variants

//fonts
$font-stack: "Source Sans Pro", sans-serif;
$font-headings: "Trebuchet MS", sans-serif;
$font-size-base: 1rem;

//break points
$br-small: 768px;
$br-medium: 800px;
