@use "abstracts/variables";
@use "abstracts/animation";
@use "abstracts/utilities";

@use "base/reset";
@use "base/typography";

@use "layout/body";
@use "layout/containers";
@use "layout/header";
@use "layout/navigation";
@use "layout/footer";

@use "pages/home";
@use "pages/about";

@use "components/buttons";
