@use "abstracts/variables";
@use "abstracts/animation";
@use "abstracts/utilities";

@use "base/reset";
@use "base/typography";

@use "layout/body";
@use "layout/container";
@use "layout/header";
@use "layout/navigation";
@use "layout/footer";
@use "layout/bg_images";

@use "pages/home";
//@use "pages/about";
//@use "pages/contact";
//@use "pages/page404";

@use "components/buttons";
