@use "../abstracts/variables" as *;
@use "../base" as *;

/*
//////////////////////////////BODY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
html {
  scroll-behavior: smooth;
}
body {
  font-family: $font-stack;
  background: $white;
  color: $black;
  font-size: $font-size-base;
  line-height: 1.5;
  margin: 0 auto;
}
