@use "../abstracts/variables" as *;
/*
///////////////////////////CONTAINERS (just global - other containers are page specific)\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.container {
    max-width: 80rem;
    padding: 0;
    margin: 0 auto;
    // min-height: 100vh;
    position: relative;
}
@include below($br-small) {
    .container {
        width: 100%;
        padding: 0;
    }
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}
.inner-container {
    margin: 0 auto;
    padding: 0 2rem;
}

//Footer Container
.footer-container {
    background-color: $clr-black;
    color: $clr-white;
    padding: 2rem 0 1rem 0;
    font-size: $fs-14;
}

.footer-content {
    display: grid;
    grid-template-columns: 25% 25% 1fr;
    @include below(550px) {
        grid-template-columns: 1fr 1fr;
    }
    a {
        color: $clr-white;
        display: inline-block;
    }
    ul a {
        text-decoration: underline;
    }
    p.address {
        color: $clr-brand-pink;
    }
    div:nth-of-type(3) {
        justify-self: end;
        @include below(550px) {
            justify-self: start;
        }
    }
    div:nth-of-type(4) {
        grid-column: 1/-1;
        padding-top: 2rem;
    }
}
