@use "../abstracts/variables" as *;
/*
///////////////////////////CONTAINERS (just global - other containers are page specific)\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.container {
    // max-width: 80rem;
    // padding: 0 1rem;
    margin: 0 auto;
    // min-height: 100vh;
    position: relative;
}
@include below($br-small) {
    .container {
        width: 100%;
        padding: 0;
    }
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem;
    // max-width: 80rem;
    margin: 0 auto;
}
// .inner-container {
//     margin: 0 auto;
//     padding: 0 2rem;
// }

.investment-outer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include below(800px) {
        grid-template-columns: 1fr;
    }
    .col-1 {
        background-color: $clr-white;
        padding: 2rem 3rem;
    }
    .col-2 {
        background-color: $clr-brand-pink;
        padding: 2rem 3rem;
    }
}

//News Archive
.posts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    @include below(1000px) {
        grid-template-columns: 1fr 1fr;
    }
    @include below(650px) {
        grid-template-columns: 1fr;
    }
}
.posts-item {
    background-color: $clr-white;
    color: $clr-black;
}
.posts-item-inner-container {
    padding: 1rem;
    a {
        color: $clr-brand-pink;
    }
}
.links-logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        max-width: 10%;
    }
    p {
        padding-bottom: 0;
    }
}

//Our People
.people-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
//Footer Container
.footer-container {
    background-color: $clr-black;
    color: $clr-white;
    padding: 2rem 0 1rem 0;
    font-size: $fs-14;
}

.footer-content {
    display: grid;
    grid-template-columns: 25% 25% 1fr;
    padding: 0 2rem;
    @include below(550px) {
        grid-template-columns: 1fr 1fr;
    }
    a {
        color: $clr-white;
        display: inline-block;
    }
    .fab {
        transition: 0.25s all ease-in-out;
    }
    .fab:hover {
        color: $clr-brand-pink;
    }
    ul a {
        text-decoration: underline;
        transition: 0.25s all ease-in-out;
        &:hover {
            color: $clr-brand-pink;
        }
    }
    p.address {
        color: $clr-brand-pink;
    }
    div:nth-of-type(2) {
        justify-self: end;
    }
    div:nth-of-type(3) {
        justify-self: end;
        @include below(550px) {
            justify-self: start;
        }
    }
    div:nth-of-type(4) {
        grid-column: 1/-1;
        padding-top: 2rem;
    }
}
