@use "../abstracts/variables" as *;
/*
///////////////////////////FOOTER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
footer {
  background-color: $clr-yellow;
}
// .wave {
//   display: none;
// }
.footer-content {
  background-color: $clr-yellow;
  min-height: 100px;
  margin-top: -2px;
}
