@use "../abstracts/variables" as *;
/*
///////////////////////////NAVIGATION\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/

.menu,
.sub-menu {
  list-style-type: none;
}
/* Desktop menu and logo*/
.menu-container {
  display: flex;
  justify-content: space-between;
}
.menu-container > * {
  align-self: center;
  flex-grow: 1;
}
.menu {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

//menu item li is relative to control the absolute position of the sub menu li
.menu-item {
  position: relative;
}
.menu-item:hover .sub-menu {
  display: block;
}
.sub-menu a:hover {
  color: $clr-white;
}

.menu li a {
  display: block;
  padding: 0 5px;
  color: $clr-dark;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: $clr-orange;
  }
}

.sub-menu {
  //display: none;
  height: auto;
  overflow: hidden;
  background: $clr-orange;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  border-radius: 3px;
  white-space: nowrap;
  border-left: 2px solid $clr-orange-dark;
  li {
    transition: all 0.2s ease;
  }
  li a {
    font-size: $fs-14;
    font-weight: normal;
    letter-spacing: 1px;
    color: $clr-white;
    font-weight: 600;
    padding: 0.5rem 1rem;
    transition: all 0.2 ease;
    &:hover {
      color: $clr-dark;
    }
  }
  li:hover {
    background-color: $clr-orange-dark;
  }
}
.toggle-btn-container {
  display: none;
}

// /* Mobile menu */
.sub-menu-container {
  height: 0;
  overflow: hidden;
  background-color: $clr-dark;
  transition: all 0.5s ease;
}
.mobile-menu-container {
  height: 0;
  overflow: hidden;
  transition: all 0.5s linear;
}
.mobile-sub-menu {
  margin-left: 0;
  font-size: $fs-16;
}

@include below(1100px) {
  .mobile-menu {
    background-color: $clr-orange;
    //padding: 1rem;
    li.menu-item-has-children {
      font-size: $fs-16;
      position: relative;
      li a {
        font-size: $fs-14;
      }
      a:first-of-type {
        display: block;
        padding: 0.5rem 1rem;
        margin-right: 42px;

        &:hover {
          background-color: $clr-orange-dark;
        }
      }
      .open {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        height: 40px;
        width: 40px;
        padding: 5px;
        background-color: $clr-orange-dark;
        cursor: pointer;
      }
    }
    li li:hover {
      background-color: $clr-orange-dark;
    }
    li a {
      color: $clr-white;
    }
  }
  .toggle-btn-container {
    display: block;
  }
  .nav-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: $clr-orange;
    transition: all 0.3s linear;
    width: 50px;
  }
  .menu {
    display: none;
  }

  .menu {
    flex-direction: column;
  }
  .sub-menu {
    display: block;
  }
}
