@use "../abstracts/variables" as *;
/*
///////////////////////////NAVIGATION\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/

.menu,
.sub-menu {
  list-style-type: none;
}

@include above(1100px) {
  .menu-container {
    margin-top: -3rem;
  }
}

.menu-container > * {
  align-self: center;
  flex-grow: 1;
}
.menu {
  display: flex;
  justify-content: flex-end;
}

.logo {
  display: flex;
  align-items: flex-start;
}
.logo-gif {
  margin-top: -1.2rem;
}

//menu item li is relative to control the absolute position of the sub menu li
@include above(1100px) {
  .menu-item {
    position: relative;
    padding-right: 1rem;
  }
  .my-menu-item-5 {
    padding-right: 0;
  }
}

.menu-item:hover .sub-menu {
  display: block;
}

.menu li a {
  display: block;
  padding: 0 5px;
  text-decoration: none;
}
.menu .my-menu-item-4 a:first-of-type {
  padding-right: 0;
}
.sub-menu {
  //display: none;
  height: auto;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  border-radius: 3px;
  white-space: nowrap;
  z-index: 100;
  li {
    transition: all 0.2s ease;
    padding: 0.5rem 1rem;
  }
  li a {
    font-size: $fs-14;
    font-weight: normal;
    letter-spacing: 1px;

    transition: all 0.2 ease;

    .toggle-btn-container {
      display: none;
    }

    // /* Mobile menu */
    .sub-menu-container {
      height: 0;
      overflow: hidden;
      transition: all 0.5s ease;
    }
    .mobile-menu-container {
      height: 0px;
      overflow: hidden;
      transition: all 0.5s linear;
    }
    .mobile-sub-menu {
      margin-left: 0;
      font-size: $fs-16;
    }

    @include below(1100px) {
      .mobile-menu {
        font-size: $fs-16;
        position: relative;
        li a {
          font-size: $fs-14;
        }
        a:first-of-type {
          display: block;
          padding: 0.5rem 1rem;
          margin-right: 42px;
        }
      }

      .toggle-btn-container {
        display: block;
      }
      .nav-toggle {
        position: absolute;
        top: 1rem;
        right: 1rem;
        transition: all 0.3s linear;
        width: 50px;
      }
      .menu {
        display: none;
      }

      .menu {
        flex-direction: column;
      }
      .sub-menu {
        display: block;
      }
    }
  }
}
