@use "../abstracts/variables" as *;
/*///////////////////Buttons\\\\\\\\\\\\\\\\\\\\\*/
/*icons*/
.icons {
    display: flex;
    flex-direction: column;
    align-self: end;
    align-items: center;
    z-index: 10;
    justify-content: space-between;
}
.icons-item {
    padding: 10px 0;
}

.fa-facebook {
    color: #4372b8;
}
.fa-instagram {
    color: #da1b52;
}
.fa-twitter {
    color: #5ea9dd;
}
