@use "../abstracts/variables" as *;
/*///////////////////Buttons\\\\\\\\\\\\\\\\\\\\\*/
/*icons*/
button {
    border: none;
    padding: 0.5rem 1.15rem;
    color: $clr-white;
    font-weight: bold;
    cursor: pointer;
    transition: $transition;
    a {
        color: $clr-white;
    }
    &:hover {
        //opacity: 0.8;
        //padding-right: 2rem;
        -webkit-box-shadow: 5px 5px 0px -2px #ffffff;
        box-shadow: 5px 5px 0px -2px #ffffff;
        .fa-arrow-right {
            transform: translateX(15px);
        }
    }
}
