@use "../abstracts/variables" as *;
@use "../base" as *;
/*////////////////ICON SECTION \\\\\\\\\\\\\\\*/

.contact-icon-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 4rem;
    @include below(550px) {
        flex-direction: column;
    }
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        // flex-grow: 1;
        @include below(550px) {
            flex-direction: column;
        }
    }

    //global icon styles

    div a img {
        transition: 0.4s ease all;
        height: 100px;
        width: 100px;
    }
    div a img:hover {
        filter: invert(59%) sepia(30%) saturate(493%) hue-rotate(294deg) brightness(132%) contrast(91%);
    }

    div p {
        padding-top: 1rem;
    }
}
