@use "../abstracts/variables" as *;
/*
//////////////////////TYPOGRAPHY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
@font-face {
  font-family: "Dinot";
  src: url("../fonts/DINOT.woff2") format("woff2"), url("../fonts/Dinot.woff") format("woff");
}
@font-face {
  font-family: "Dinot-Bold";
  src: url("../fonts/Dinot-Bold.woff") format("woff2"), url("../fonts/Dinot-Bold.woff") format("woff");
}

p {
  padding-bottom: 1rem;
}
a {
  text-decoration: none;
  transition: 300ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}
