@use "../abstracts/variables" as *;
/*
//////////////////////TYPOGRAPHY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
p {
  padding-bottom: 1rem;
  font-size: 1.2rem;
  color: $clr-dark;
}
a {
  text-decoration: none;
  transition: 300ms;
}

a:hover {
  color: $clr-red;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}
/*gradient text*/
.gradient-text {
  background-image: linear-gradient(90deg, red, yellow);
  background-clip: text;
  color: transparent;
}
