@use "../abstracts/variables" as *;
@use "../base" as *;
/*////////////////COMPANIES INDIVIDUAL PAGES \\\\\\\\\\\\\\\*/
.company-content-container {
    color: $clr-brand-blue;
    h3 {
        color: $clr-brand-blue;
        font-weight: bold;
        font-size: $fs-16;
    }
    cite {
        color: $clr-brand-pink;
        font-style: normal;
        font-weight: bold;
    }
    blockquote {
        font-weight: bold;
        font-size: $fs-18;
    }
    a {
        color: $clr-brand-blue;
    }
}
// .companies-hero {
//     position: relative;
//     .logo {
//         position: absolute;
//         top: 30%;
//         left: 5%;
//         z-index: 10;
//         @include below(600px) {
//             img {
//                 max-width: 50%;
//             }
//         }
//     }
// }
