@use "../abstracts/variables" as *;
@use "../base" as *;
/*////////////////CONTACT PAGE \\\\\\\\\\\\\\\*/
.contact-form-page {
    background-color: $clr-white;
}
/*FORM*/
.contact-form-container {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-gap: 2rem;
    @include below(800px) {
        grid-template-columns: 1fr;
        padding: 1rem;
        gap: 0.5rem;
    }
    a {
        color: $clr-brand-blue;
        word-wrap: initial;
    }
}
.address {
    color: $clr-brand-blue;
}
.elbow-form input,
.elbow-form textarea {
    background-color: $clr-form !important;
    border: none !important;
}
.elbow-form textarea {
    max-width: 80%;
    @include below(800px) {
        max-width: 100%;
    }
}
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $clr-brand-blue;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: $clr-brand-blue;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: $clr-brand-blue;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: $clr-brand-blue;
}
div.wpforms-container-full .wpforms-form input.wpforms-field-medium,
div.wpforms-container-full .wpforms-form select.wpforms-field-medium,
div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
    max-width: 80%;
}
@include below(800px) {
    div.wpforms-container-full .wpforms-form input.wpforms-field-medium,
    div.wpforms-container-full .wpforms-form select.wpforms-field-medium,
    div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
        max-width: 100%;
    }
}
.wpforms-submit-container .elbow-submit {
    background-color: $clr-brand-pink !important;
    border: none !important;
    border-radius: 5px !important;
}
