@use "../abstracts/variables" as *;
@use "../base" as *;
/*////////////////HOME PAGE \\\\\\\\\\\\\\\*/
/*Hero*/
.mobile-only-hero {
    display: none;
    // @include below(700px) {
    //     display: block;
    // }
}
/*Team section*/

.img-link,
.biog-text {
    width: fit-content;
    position: relative;
}
.content {
    display: none;
}
.active {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    @include below(800px) {
        display: block;
    }
}
.biog-text {
    // align-self: flex-end;
    padding: 0 2rem;
    // margin-top: 5rem;
    // max-width: 400px;
    @include below(800px) {
        max-width: 100%;
        padding: 2rem 0 0 0;
        margin-top: 0;
    }
}
//positioning the btn under the biog image
.link-container {
    margin-top: -20px;
    margin-left: 90%;
}
//Contact section
// .contact {
//     padding: 4rem 0;
// }
.contact-link {
    margin: 2rem auto;
    font-size: $fs-24;
    background-color: $clr-brand-pink;
    padding: 0.2rem 5rem 0.4rem 5rem;
    border-radius: 35px;
    color: $clr-white;
    text-transform: uppercase;
    &:hover {
        background-color: $clr-brand-blue-dark;
        color: $clr-brand-pink;
    }
}

/*Companies Container (home page)*/
.companies {
    margin-top: 2rem;
    color: $clr-white;
    h3 {
        text-transform: uppercase;
    }
}
.companies-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 2rem;
    color: $clr-white;
    @include below(800px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
    div:nth-of-type(1) {
        grid-row: 1/-1;
        @include below(800px) {
            //grid-column: 1/-1;
            grid-row: 1;
        }
    }
    div:nth-of-type(2) {
        grid-column: 2;
        grid-row: 3;
        justify-self: center;
        //padding-right: 10px;
        @include below(800px) {
            grid-column: 1/-1;
            grid-row: 4;
            padding: 10px 0;
            //order: 3;
        }
        a {
            display: block;
            position: relative;
            margin-top: 1rem;
            background-color: $clr-brand-pink;
            padding: 1.25rem;
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            outline: none;
            &:hover {
                background-color: $clr-brand-blue-light;
                i {
                    color: $clr-white;
                }
            }
            i {
                position: absolute;
                top: 16px;
                left: 6px;
                color: $clr-brand-blue;
            }
        }
    }
    div:nth-of-type(3) {
        grid-column: 3/-1;
        grid-row: 1/-1;
        //z-index: 10;
        // align-self: center;
        // justify-self: center;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // margin-left: -25%;
        // margin-top: 4rem;
        @include below(800px) {
            grid-column: 1/-1;
            grid-row: 3;
            align-self: center;
            padding: 10px 0;
            //order: 2;
        }

        img {
            @include below(1200px) {
                max-width: 65%;
            }
            @include below(800px) {
                max-width: 90%;
            }
        }
    }
    div:nth-of-type(4) {
        grid-column: 3/4;
        grid-row: 1;
        padding-top: 10px;
        padding-left: 10px;
        @include below(800px) {
            grid-column: 1/-1;
            grid-row: 2;
            padding: 10px 0;
            img {
                max-width: 50%;
            }
            //align-self: center;
            //order: 2;
        }
    }
}

/*Approach Container*/
.approach {
    background-color: $clr-brand-blue-dark;
    // padding: 2rem 0;
    margin-top: 4rem;
    color: $clr-white;
}

//home page contact section
.contact-link-container {
    display: flex;
}
