@use "../abstracts/variables" as *;
@use "../base" as *;
/*////////////////HOME PAGE (called About in the site)\\\\\\\\\\\\\\\*/
.home {
    .grid-container {
        display: grid;
        grid-template-columns: 2fr 1.25fr 1fr;
        grid-template-rows: 1fr auto;
    }
    .strapline {
        grid-column: span 2/-1;
        width: 70%;
        justify-self: end;
        z-index: -1;
    }

    /*circle images*/
    .circle-01 {
        margin-left: -7%;
        align-self: end;
    }
    .circle-02 {
        margin-left: -30%;
        align-self: end;
        z-index: 10;
    }
    .icons {
        display: flex;
        flex-direction: column;
        align-self: end;
        align-items: center;
        z-index: 10;
        justify-content: space-between;
    }
    .icons-item {
        padding: 10px 0;
    }
    .fa-facebook {
        color: #4372b8;
    }
    .fa-instagram {
        color: #da1b52;
    }
    .fa-twitter {
        color: #5ea9dd;
    }
}

/*smaller screen to one column*/
@include below($br-medium) {
    .home {
        .grid-container {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            justify-items: center;
        }
        .strapline {
            grid-column: span 1;
            width: 70%;
            justify-self: center;
            padding-bottom: 1rem;
        }

        .circle-01 {
            margin-left: 0;
            align-self: center;
        }
        .circle-02 {
            margin-left: 0;
            align-self: center;
        }
        .icons {
            flex-direction: row;
            z-index: 10;
            justify-content: space-evenly;
        }
    }
}
