@use "../abstracts/variables" as *;
@use "../base" as *;
/*////////////////INVESTMENTS PAGE \\\\\\\\\\\\\\\*/
//investment page - overlay
.sector-logo {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: $clr-white;
    padding: 5px;
    border-top-right-radius: 10px;
    width: 200px;
    height: 60px;
    display: grid;
    justify-items: center;
    align-items: center;
}
.company-img {
    position: relative;
    .company-image {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .company-img__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
    }
}
.company-img__overlay {
    color: $clr-black;
    background-color: $clr-white;
    opacity: 0;
    transition: opacity 0.5s;
    &:hover {
        opacity: 1;
    }
}
@include above(1000px) {
    .company-img__overlay > * {
        transform: translateY(20px);
        transition: transform 0.25s;
        &:hover {
            transform: translateY(0);
        }
    }
}
.description {
    height: 100%;
    width: 100%;
    padding: 1rem;
    .company-img__overlay-logo {
        max-width: 20%;
    }
    p {
        padding-top: 0.5rem;
    }
    h3.description-header {
        text-transform: uppercase;
        padding-top: 0.5rem;
    }
}

.description a {
    color: #0f2b4d;
    border-bottom: 1px solid #0f2b4d;
    padding-bottom: 0.25rem;
}
.description a i {
    padding-left: 0.5rem;
    color: #cc8f9f;
}
//class added on click for mobile display of overlay
.show {
    opacity: 1;
}
