@use "../abstracts/variables" as *;
@use "../base" as *;
/*////////////////JOBS PAGE \\\\\\\\\\\\\\\*/
.jobs-container {
    gap: 1rem;
    h4 {
        padding-bottom: 1rem;
        font-size: 1.5rem;
    }
}
.jobs-container div {
    background-color: $clr-brand-blue-dark;
    padding: 2rem;
    img {
        max-width: 30%;
    }
}
