@use "../abstracts/variables" as *;
@use "../base" as *;
/*////////////////ABOUT PAGE \\\\\\\\\\\\\\\*/

.page-about .intro p {
    font-size: $fs-18;
    @include below(800px) {
        font-size: $fs-16;
    }
}

.text-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include below(600px) {
        grid-template-columns: 1fr;
    }
    div + div {
        max-width: 70%;
        justify-self: end;
        align-self: start;
        @include below(1100px) {
            max-width: 90%;
        }
        @include below(600px) {
            justify-self: center;
        }
    }
}
